<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>英単語暗記アプリ</title>
        <!-- Materialize CSS CDN -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo center">英単語暗記アプリ</a>
                </div>
            </nav>
            <h1 class="center-align">
                全{{ how_many }}問
                {% if mode == "en_to_ja" %}
                英語→日本語
                {% else %}
                日本語→英語
                {% endif %}
                {% if style == "all" %}
                すべての単語
                {% else %}
                よく間違える単語
                {% endif %}
                解答
            </h1>
            <ul class="collection">
                {% if mode == "en_to_ja" %}
                {% for q_and_a in info %}
                <li class="collection-item">
                    <p><strong>{{ q_and_a.word.en_word }}</strong></p>
                    <p>あなたの解答：{{ q_and_a.answer }}</p>
                    <p>
                        {% if q_and_a.answer == q_and_a.word.ja_word %}
                        <span class="green-text">正</span>
                        {% else %}
                        <span class="red-text">誤 正しい答え：{{ q_and_a.word.ja_word }}</span>
                        {% endif %}
                    </p>
                </li>
                {% endfor %}
                {% else %}
                {% for q_and_a in info %}
                <li class="collection-item">
                    <p><strong>{{ q_and_a.word.ja_word }}</strong></p>
                    <p>あなたの解答：{{ q_and_a.answer }}</p>
                    <p>
                        {% if q_and_a.answer == q_and_a.word.en_word %}
                        <span class="green-text">正</span>
                        {% else %}
                        <span class="red-text">誤 正しい答え：{{ q_and_a.word.en_word }}</span>
                        {% endif %}
                    </p>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
            <div class="center-align">
                <a href="{% url 'wordbook:select' %}" class="btn waves-effect waves-light">選択画面に戻る</a>
            </div>
        </div>

        <!-- Materialize JS CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>

</html>
