<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>英単語暗記アプリ</title>
    </head>

    <body>
        <form action="" method="POST">
            {% csrf_token %}
            <p>
                <label for="mode">
                    モード：
                </label>
                <input type="radio" name="mode" id="mode" value="en_to_ja"><span>英→日</span>
                <input type="radio" name="mode" id="mode" value="ja_to_en"><span></span>日→英</span>
            </p>
            <p>
                <label for="style">
                    出題形式：
                </label>
                <input type="radio" name="style" id="style" value="all"><span>すべての単語</span>
                <input type="radio" name="style" id="style" value="often_wrong"><span>よく間違える単語</span>
            </p>
            <p>
                <label for="how_many">
                    問題数：
                </label>
                <input type="radio" name="how_many" id="how_many" value=5><span>5</span>
                <input type="radio" name="how_many" id="how_many" value=10><span>10</span>
                <input type="radio" name="how_many" id="how_many" value=20><span>20</span>
            </p>
            <p>
                <button type="submit">
                    開始
                </button>
            </p>
        </form>
        <p>
            <a href="{% url 'wordbook:index' %}">
                トップに戻る
            </a>
        </p>
    </body>

</html>
